<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Page Not Found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="container mt-5 text-center">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h1 class="display-1">404</h1>
                        <h2>Page Not Found</h2>
                        <p class="lead">Sorry, the page you are looking for could not be found.</p>
                        <a href="/" class="btn btn-primary">Go Home</a>
                    </div>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>
